In [175]:
import pandas as pd
import numpy as np

In [176]:
car=pd.read_csv('quikr_car.csv')
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [177]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [178]:
car.shape

(892, 6)

In [179]:
car['name'].unique()

array(['Hyundai Santro Xing XO eRLX Euro III', 'Mahindra Jeep CL550 MDI',
       'Maruti Suzuki Alto 800 Vxi',
       'Hyundai Grand i10 Magna 1.2 Kappa VTVT',
       'Ford EcoSport Titanium 1.5L TDCi', 'Ford Figo', 'Hyundai Eon',
       'Ford EcoSport Ambiente 1.5L TDCi',
       'Maruti Suzuki Alto K10 VXi AMT', 'Skoda Fabia Classic 1.2 MPI',
       'Maruti Suzuki Stingray VXi', 'Hyundai Elite i20 Magna 1.2',
       'Mahindra Scorpio SLE BS IV', 'Audi A8', 'Audi Q7',
       'Mahindra Scorpio S10', 'Maruti Suzuki Alto 800',
       'Hyundai i20 Sportz 1.2', 'Maruti Suzuki Alto 800 Lx',
       'Maruti Suzuki Vitara Brezza ZDi', 'Maruti Suzuki Alto LX',
       'Mahindra Bolero DI', 'Maruti Suzuki Swift Dzire ZDi',
       'Mahindra Scorpio S10 4WD', 'Maruti Suzuki Swift Vdi BSIII',
       'Maruti Suzuki Wagon R VXi BS III',
       'Maruti Suzuki Wagon R VXi Minor',
       'Toyota Innova 2.0 G 8 STR BS IV', 'Renault Lodgy 85 PS RXL',
       'Skoda Yeti Ambition 2.0 TDI CR 4x2',
       'Maruti Suzuki Baleno Delta 1.2',
       'Renault Duster 110 PS RxZ Diesel Plus',
       'Renault Duster 85 PS RxE Diesel', 'Honda City 1.5 S MT',
       'Maruti Suzuki Dzire', 'Honda Amaze', 'Honda Amaze 1.5 SX i DTEC',
       'Honda City', 'Datsun Redi GO S', 'Maruti Suzuki SX4 ZXI MT',
       'Mitsubishi Pajero Sport Limited Edition',
       'Maruti Suzuki Swift VXi 1.2 ABS BS IV', 'Honda City ZX CVT',
       'Maruti Suzuki Wagon R LX BS IV', 'Tata Indigo eCS LS CR4 BS IV',
       'Volkswagen Polo Highline Exquisite P',
       'I want to sell my car Tata Zest', 'Chevrolet Spark LS 1.0',
       'Renault Duster 110PS Diesel RxZ', 'Mini Cooper S 1.6',
       'Skoda Fabia 1.2L Diesel Ambiente', 'Renault Duster',
       'Mahindra Scorpio S4', 'Mahindra Scorpio VLX 2WD BS IV',
       'Mahindra Quanto C8', 'Ford EcoSport', 'Honda Brio',
       'Volkswagen Vento Highline Plus 1.5 Diesel AT',
       'Hyundai i20 Magna', 'Toyota Corolla Altis Diesel D4DG',
       'Hyundai Verna Transform SX VTVT',
       'Toyota Corolla Altis Petrol Ltd', 'Honda City 1.5 EXi New',
       'Skoda Fabia 1.2L Diesel Elegance', 'BMW 3 Series 320i',
       'Maruti Suzuki A Star Lxi', 'Toyota Etios GD',
       'Ford Figo Diesel EXI Option',
       'Maruti Suzuki Swift Dzire VXi 1.2 BS IV',
       'Chevrolet Beat LT Diesel', 'BMW 7 Series 740Li Sedan',
       'Mahindra XUV500 W8 AWD 2013', 'Hyundai i10 Magna 1.2',
       'Hyundai Verna Fluidic New', 'Maruti Suzuki Swift VXi 1.2 BS IV',
       'Maruti Suzuki Ertiga ZXI Plus', 'Maruti Suzuki Ertiga Vxi',
       'Maruti Suzuki Ertiga VDi', 'Maruti Suzuki Alto LXi BS III',
       'Hyundai Grand i10 Asta 1.1 CRDi', 'Honda Amaze 1.2 S i VTEC',
       'Hyundai i20 Asta 1.4 CRDI 6 Speed', 'Ford Figo Diesel EXI',
       'Maruti Suzuki Eeco 5 STR WITH AC HTR', 'Maruti Suzuki Ertiga ZXi',
       'Maruti Suzuki Esteem LXi BS III', 'Maruti Suzuki Ritz VXI',
       'Maruti Suzuki Ritz LDi', 'Maruti Suzuki Dzire VDI',
       'Toyota Etios Liva G', 'Hyundai i20 Sportz 1.4 CRDI',
       'Chevrolet Spark', 'Nissan Micra XV', 'Maruti Suzuki Swift',
       'Honda Amaze 1.5 S i DTEC', 'Chevrolet Beat', 'Toyota Corolla',
       'Honda City 1.5 V MT', 'Ford EcoSport Trend 1.5L TDCi',
       'Hyundai i20 Asta 1.2', 'Tata Indica V2 eLS',
       'Maruti Suzuki Alto 800 Lxi', 'Hindustan Motors Ambassador',
       'Toyota Corolla Altis 1.8 GL', 'Toyota Corolla Altis 1.8 J',
       'Toyota Innova 2.5 GX BS IV 7 STR',
       'Volkswagen Jetta Highline TDI AT',
       'Volkswagen Polo Comfortline 1.2L P', 'Volkswagen Polo',
       'Mahindra Scorpio', 'Nissan Sunny', 'Hyundai Elite i20',
       'Renault Kwid', 'Mahindra Scorpio VLX Airbag',
       'Chevrolet Spark LT 1.0', 'Datsun Redi GO T O',
       'Maruti Suzuki Swift RS VDI', 'Fiat Punto Emotion 1.2',
       'Hyundai i10 Sportz 1.2', 'Chevrolet Beat LT Opt Diesel',
       'Chevrolet Beat LS Diesel', 'Tata Indigo CS',
       'Maruti Suzuki Swift VDi', 'Hyundai Eon Era Plus',
       'Mahindra XUV500', 'Ford Fiesta', 'Maruti Suzuki Wagon R',
       'Hyundai i20', 'Tata Indigo eCS LX TDI BS III',
       'Hyundai Fluidic Verna 1.6 CRDi SX',
       'Commercial , DZire LDI, 2016, for sale', 'Fiat Petra ELX 1.2 PS',
       'Hyundai Santro Xing XS', 'Maruti Suzuki Ciaz VXi Plus',
       'Maruti Suzuki Zen VX', 'Hyundai Creta 1.6 SX Plus Petrol',
       'Tata indigo ecs LX, 201', 'Mahindra Scorpio SLX',
       'Toyota Innova 2.5 G BS III 8 STR',
       'Maruti Suzuki Wagon R LXI BS IV', 'Tata Nano Cx BSIV',
       'Maruti Suzuki Alto Std BS IV', 'Maruti Suzuki Wagon R LXi BS III',
       'Maruti Suzuki Swift VXI BSIII',
       'Tata Sumo Victa EX 10 by 7 Str BSIII', 'MARUTI SUZUKI DESI',
       'Volkswagen Passat Diesel Comfortline AT',
       'Renault Scala RxL Diesel Travelogue',
       'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT',
       'Hyundai i20 Active 1.2 SX', 'Mahindra Xylo E4',
       'Mahindra Jeep MM 550 XDB', 'Mahindra Bolero SLE BS IV',
       'Force Motors Force One LX ABS 7 STR', 'Maruti Suzuki SX4',
       'Toyota Etios', 'Honda City ZX VTEC',
       'Maruti Suzuki Wagon R LX BS III', 'Honda City VX O MT Diesel',
       'Mahindra Thar CRDe 4x4 AC',
       'Audi A4 1.8 TFSI Multitronic Premium Plus',
       'Mercedes Benz GLA Class 200 CDI Sport',
       'Land Rover Freelander 2 SE', 'Renault Kwid RXT',
       'Tata Aria Pleasure 4X2', 'Mercedes Benz B Class B180 Sports',
       'Datsun GO T O', 'Honda Jazz VX MT',
       'Hyundai i20 Active 1.4L SX O', 'Mini Cooper S',
       'Maruti Suzuki Ciaz ZXI Plus', 'Chevrolet Tavera Neo',
       'Hyundai Eon Sportz', 'Tata Sumo Gold Select Variant',
       'Maruti Suzuki Wagon R 1.0', 'Maruti Suzuki Esteem VXi BS III',
       'Chevrolet Enjoy 1.4 LS 8 STR', 'Maruti Suzuki Wagon R 1.0 VXi',
       'Nissan Terrano XL D Plus', 'Renault Duster 85 PS RxL Diesel',
       'Maruti Suzuki Dzire ZXI', 'Renault Kwid RXT Opt',
       'Maruti Suzuki Maruti 800 Std', 'Renault Kwid 1.0 RXT AMT',
       'Renault Scala RxL Diesel',
       'Hyundai Grand i10 Asta 1.2 Kappa VTVT O',
       'Chevrolet Beat LS Petrol', 'Hyundai Accent GLX', 'Yama',
       'Maruti Suzuki Swift LDi', 'Mahindra TUV300 T4 Plus',
       'Tata Indica V2 Xeta e GLE', 'Tata Indigo CS LS DiCOR',
       'Mahindra Scorpio VLX Special Edition BS III',
       'Tata Indica eV2 LS', 'Honda Accord',
       'Ford EcoSport Titanium 1.5 TDCi', 'Maruti Suzuki Ertiga',
       'Mahindra Scorpio 2.6 CRDe', 'Honda Mobilio',
       'Toyota Corolla Altis', 'Skoda Laura', 'Hyundai Verna Fluidic',
       'Maruti Suzuki Vitara Brezza', 'Tata Manza Aura Quadrajet',
       'Chevrolet Sail UVA Petrol LT ABS',
       'Hyundai Verna Fluidic 1.6 VTVT SX',
       'Audi A4 2.0 TDI 177bhp Premium', 'Hyundai Elantra SX',
       'Mahindra Scorpio VLX 4WD Airbag', 'Mahindra KUV100 K8 D 6 STR',
       'Hyundai Grand i10', 'Hyundai i10', 'Hyundai i20 Active',
       'Datsun Redi GO', 'Toyota Etios Liva', 'Hyundai Accent',
       'Hyundai Verna', 'Toyota Fortuner', 'Hyundai i10 Sportz',
       'Mahindra Bolero Power Plus SLE', 'selling car Ta',
       'Honda City 1.5 V MT Exclusive', 'Chevrolet Spark LT 1.0 Airbag',
       'Tata Indigo eCS VX CR4 BS IV', 'Tata Zest 90',
       'Skoda Rapid Elegance 1.6 TDI CR MT', 'Tata Vista Quadrajet VX',
       'Maruti Suzuki Alto K10 VXi AT', 'Maruti Suzuki Zen LXi BS III',
       'Maruti Suzuki Swift Dzire Tour LDi', 'Honda City ZX EXi',
       'Chevrolet Beat Diesel', 'Maruti Suzuki Swift Dzire car',
       'Hyundai Verna 1.4 VTVT', 'Toyota Innova 2.5 E MS 7 STR BS IV',
       'Maruti Suzuki Maruti 800 Std – Befo',
       'Hyundai Elite i20 Asta 1.4 CRDI',
       'Maruti Suzuki Swift Dzire Tour (Gat',
       'Maruti Suzuki Versa DX2 8 SEATER BSIII',
       'Tata Indigo LX TDI BS III',
       'Volkswagen Vento Konekt Diesel Highline',
       'Mercedes Benz C Class 200 CDI Classic', 'URJE',
       'Hyundai Santro Xing GLS', 'Maruti Suzuki Omni Limited Edition',
       'Hyundai Sonata Transform 2.4 GDi MT',
       'Hyundai Elite i20 Sportz 1.2', 'Honda Jazz S MT',
       'Hyundai Grand i10 Sportz 1.2 Kappa VTVT',
       'Maruti Suzuki Zen LXi BSII',
       'Mahindra Scorpio W Turbo 2.6DX 9 Seater',
       'Swift Dzire Tour 27 Dec 2016 Regis', 'Maruti Suzuki Alto K10 VXi',
       'Hyundai Grand i10 Asta 1.2 Kappa VTVT', 'Mahindra XUV500 W8',
       'Hyundai i20 Magna O 1.2', 'Renault Duster 85 PS RxL Explore LE',
       'Honda Brio V MT', 'Mahindra TUV300 T8',
       'Nissan X Trail Select Variant', 'Ford Ikon 1.3 CLXi NXt Finesse',
       'Toyota Fortuner 3.0 4x4 MT', 'Tata Manza ELAN Quadrajet',
       'Tata zest x', 'Mahindra xyl',
       'Mercedes Benz A Class A 180 Sport Petrol', 'Tata Indigo LS',
       'Hyundai i20 Magna 1.2', 'Used Commercial Maruti Omn',
       'Honda Amaze 1.5 E i DTEC', 'Hyundai Verna 1.6 EX VTVT',
       'BMW 5 Series 520d Sedan', 'Skoda Superb 1.8 TFSI AT',
       'Audi Q3 2.0 TDI quattro Premium', 'Mahindra Bolero DI BSII',
       'Maruti Suzuki Zen Estilo LXI Green CNG',
       'Ford Figo Duratorq Diesel Titanium 1.4',
       'Maruti Suzuki Wagon R VXI BS IV', 'Mahindra Logan Diesel 1.5 DLS',
       'Tata Nano GenX XMA', 'Honda City SV', 'Ford Figo Petrol LXI',
       'Hyundai i10 Magna 1.2 Kappa2', 'Toyota Corolla H2',
       'Maruti Suzuki Swift Dzire Tour VXi', 'Tata Indigo CS eLS BS IV',
       'Hyundai Xcent Base 1.1 CRDi', 'Hyundai Accent Executive Edition',
       'Tata Zest XE 75 PS Diesel', 'Maruti Suzuki Dzire LDI',
       'Tata Sumo Gold LX BS IV', 'Toyota Corolla Altis GL Petrol',
       'Maruti Suzuki Eeco 7 STR', 'Toyota Fortuner 3.0 4x2 MT',
       'Mahindra XUV500 W6', 'Tata Tigor Revotron XZ',
       'Maruti Suzuki 800', 'Honda Mobilio S i DTEC',
       'Hyundai Verna 1.6 CRDI E', 'Maruti Suzuki Omni Select Variant',
       'Tata Indica', 'Hyundai Santro Xing', 'Maruti Suzuki Zen Estilo',
       'Honda Brio VX AT', 'Maruti Suzuki Wagon R Select Variant',
       'Tata Nano Lx BSIV', 'Jaguar XE XE Portfolio',
       'Hyundai Xcent S 1.2', 'Hyundai Eon Magna Plus',
       'Maruti Suzuki Ritz GENUS VXI',
       'Hyundai Grand i10 Magna AT 1.2 Kappa VTVT',
       'Hyundai Eon D Lite Plus', 'Honda Amaze 1.2 VX i VTEC',
       'Maruti Suzuki Estilo VXi ABS BS IV',
       'Maruti Suzuki Vitara Brezza LDi O', 'Toyota Innova 2.0 V',
       'Hyundai Creta 1.6 SX Plus Petrol AT', 'Mahindra Scorpio Vlx BSIV',
       'Mitsubishi Lancer 1.8 LXi', 'Maruti Suzuki Maruti 800 AC',
       'Maruti Suzuki Alto 800 LXI CNG O', 'Ford Fiesta SXi 1.6 ABS',
       'Maruti Suzuki Ritz VDi', 'Maruti Suzuki Estilo LX BS IV',
       'Audi A6 2.0 TDI Premium', 'Maruti Suzuki Alto',
       'Maruti Suzuki Baleno Sigma 1.2', 'Hyundai Verna 1.6 SX VTVT AT',
       'Maruti Suzuki Swift GLAM', 'Hyundai Getz Prime 1.3 GVS',
       'Hyundai Santro', 'Hyundai Getz Prime 1.3 GLX',
       'Chevrolet Beat PS Diesel', 'Ford EcoSport Trend 1.5 Ti VCT',
       'Tata Indica V2 DLG', 'BMW X1 xDrive20d xLine',
       'Honda City 1.5 V AT', 'Tata Nano', 'Chevrolet Cruze LTZ AT',
       'Hyun', 'Maruti Suzuki Swift Dzire VDi', 'Mahindra XUV500 W10',
       'Maruti Suzuki Alto K10 LXi CNG', 'Hyundai Accent GLE',
       'Force Motors One SUV', 'Datsun Go Plus T O',
       'Chevrolet Spark 1.0 LT', 'Toyota Etios Liva GD',
       'Renault Duster 85PS Diesel RxL Optional with Nav',
       'Chevrolet Enjoy', 'BMW 5 Series 530i', 'Chevrolet Cruze LTZ',
       'Jeep Wrangler Unlimited 4x4 Diesel',
       'Hyundai Verna VGT CRDi SX ABS', 'Maruti Suzuki Omni',
       'Maruti Suzuki Celerio VDi', 'Tata Zest Quadrajet 1.3',
       'Tata Indigo CS eLX BS IV', 'Hyundai i10 Era',
       'Tata Indigo eCS LX CR4 BS IV', 'Tata Indigo Marina LS',
       'Commercial Chevrolet Sail Hatchback ca', 'Hyundai Xcent SX 1.2',
       'Tata Nano LX Special Edition', 'Commercial Car Ta',
       'Renault Duster 110 PS RxZ Diesel',
       'Maruti Suzuki Wagon R AX BSIV', 'Maruti Suzuki Alto K10 New',
       'tata Indica', 'Mahindra Xylo E8', 'Tata Manza Aqua Quadrajet',
       'Used bt new conditions ta', 'Renault Kwid 1.0', 'Sale tata',
       'Tata Venture EX 8 STR', 'Maruti Suzuki Swift Dzire Tour LXi',
       'Maruti Suzuki Alto LX BSII', 'Skoda Octavia Classic 1.9 TDI MT',
       'Maruti Suzuki Omni LPG BS IV', 'Tata Sumo Gold EX BS IV',
       'Tata indigo 2017 top model..', 'Hyundai Verna 1.6 CRDI SX',
       'Mahindra Scorpio SLX 2.6 Turbo 8 Str', 'Ford Ikon 1.6 Nxt',
       'Tata indigo', 'Toyota Innova 2.5 V 7 STR', 'Nissan Sunny XL',
       'Maruti Suzuki Swift VDi BS IV',
       'very good condition tata bolts are av', 'Toyota Innova 2.0 G4',
       'Sale Hyundai xcent commerc', 'Maruti Suzuki Swift VDi ABS',
       'Hyundai Elite i20 Asta 1.2', 'Volkswagen Polo Trendline 1.5L D',
       'Toyota Etios Liva Diesel', 'Maruti Suzuki Ciaz ZXi Plus RS',
       'Hyundai Elantra 1.8 S', 'Ford EcoSport Trend 1.5L Ti VCT',
       'Jaguar XF 2.2 Diesel Luxury',
       'Audi Q5 2.0 TDI quattro Premium Plus', 'BMW 3 Series 320d Sedan',
       'Maruti Suzuki Swift ZXi 1.2 BS IV', 'BMW X1 sDrive20d',
       'Maruti Suzuki S Cross Sigma 1.3', 'Maruti Suzuki Ertiga LDi',
       'Volkswagen Vento Comfortline Petrol', 'Mahindra KUV100',
       'Maruti Suzuki Swift Dzire Tour VDi', 'Mahindra Scorpio 2.6 SLX',
       'Maruti Suzuki Omni 8 STR BS III',
       'Volkswagen Jetta Comfortline 1.9 TDI AT', 'Volvo S80 Summum D4',
       'Toyota Corolla Altis VL AT Petrol',
       'Mitsubishi Pajero Sport 2.5 AT', 'Chevrolet Beat LT Petrol',
       'BMW X1', 'Mercedes Benz C Class C 220 CDI Avantgarde',
       'Volkswagen Vento Comfortline Diesel', 'Tata Indigo CS GLS',
       'Ford Figo Petrol Titanium', 'Honda City ZX GXi',
       'Maruti Suzuki Wagon R Duo Lxi', 'Maruti Suzuki Zen LX BSII',
       'Renault Duster RxL Petrol', 'Maruti Suzuki Baleno Zeta 1.2',
       'Honda WR V S MT Petrol', 'Renault Duster 110 PS RxL Diesel',
       'Mahindra Scorpio LX BS III',
       'Maruti Suzuki SX4 Celebration Diesel',
       'Audi A3 Cabriolet 40 TFSI',
       'I want to sell my commercial car due t',
       'Hyundai Santro AE GLS Audio',
       'i want sale my car.no emi....uber atta', 'Tata ZEST 6 month old',
       'Mahindra Xylo D2 BS IV', 'Hyundai Getz GLE',
       'Hyundai Creta 1.6 SX', 'Hyundai Santro Xing XL AT eRLX Euro III',
       'Hyundai Santro Xing XL eRLX Euro III',
       'Tata Indica V2 DLS BS III', 'Honda City 1.5 E MT',
       'Nissan Micra XL', 'Honda City 1.5 S Inspire',
       'Tata Indica eV2 eXeta eGLX', 'Maruti Suzuki Omni E 8 STR BS IV',
       'MARUTI SUZUKI ERTIGA F', 'Hyundai Verna 1.6 CRDI SX Plus AT',
       'Chevrolet Tavera LS B3 10 Seats BSII', 'Tata Tiago Revotron XM',
       'Tata Tiago Revotorq XZ', 'Tata Nexon', 'Tata',
       'Hindustan Motors Ambassador Classic Mark 4 – Befo',
       'Ford Fusion 1.4 TDCi Diesel',
       'Fiat Linea Emotion 1.4 L T Jet Petrol',
       'Ford Ikon 1.3 Flair Josh 100', 'Tata Indica V2 LS',
       'Mahindra Xylo D2', 'Hyundai Eon Magna',
       'Tata Sumo Grande MKII GX', 'Volkswagen Polo Highline1.2L P',
       'Tata Tiago Revotron XZ', 'Tata Indigo eCS',
       '2012 Tata Sumo Gold f', 'Mahindra Xylo E8 BS IV',
       'Well mentained Tata Sumo',
       'all paper updated tata indica v2 and u',
       'Maruti Ertiga showroom condition with',
       '7 SEATER MAHINDRA BOLERO IN VERY GOOD', '9 SEATER MAHINDRA BOL',
       'scratch less Tata I', 'Maruti Suzuki swift dzire for sale in',
       'Commercial Chevrolet beat for sale in',
       'urgent sell my Mahindra qu', 'Tata Sumo Gold FX BSIII',
       'sell my car Maruti Suzuki Swif',
       'Maruti Suzuki Swift Dzire good car fo', 'Hyunda',
       'Commercial Maruti Suzuki Alto Lxi 800', 'urgent sale Ta',
       'Maruti Suzuki Alto vxi t', 'tata', 'TATA INDI', 'Hyundai Creta',
       'Tata Bolt XM Petrol', 'Hyundai Venue', 'Maruti Suzuki Ritz',
       'Renault Lodgy', 'Hyundai i20 Asta',
       'Maruti Suzuki Swift Select Variant', 'Tata Indica V2 DLX BS III',
       'Mahindra Scorpio VLX 2.2 mHawk Airbag BSIV',
       'Toyota Innova 2.5 E 8 STR', 'Mahindra KUV100 K8 6 STR',
       'Datsun Go Plus', 'Ford Endeavor 4x4 Thunder Plus',
       'Tata Indica V2', 'Hyundai Santro Xing GL',
       'Toyota Innova 2.5 Z Diesel 7 Seater',
       'Any type car avaiabel hare...comercica', 'Maruti Suzuki Alto AX',
       'Mahindra Logan', 'Maruti Suzuki 800 Std BS III',
       'Chevrolet Sail 1.2 LS',
       'Volkswagen Vento Highline Plus 1.5 Diesel', 'Tata Manza',
       'Toyota Innova 2.0 G1 Petrol 8seater', 'Toyota Etios G',
       'Toyota Qualis', 'Mahindra Quanto C4', 'Maruti Suzuki Swift Dzire',
       'Hyundai i20 Select Variant', 'Honda City VX Petrol',
       'Hyundai Getz', 'Mercedes Benz C Class 200 K MT', 'Skoda Fabia',
       'Maruti Suzuki Alto 800 Select Variant',
       'Maruti Suzuki Ritz VXI ABS', 'tata zest 2017 f',
       'Tata Indica V2 DLE BS III', 'Ta', 'Tata Zest XM Diesel',
       'Honda Amaze 1.2 E i VTEC', 'Chevrolet Sail 1.2 LT ABS'],
      dtype=object)

In [180]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

## Quality

- year has many non-year values
- year object to int
- price has 'Ask for price'
- price object to int
- price has ,
- kms_driven has kms with integers
- kms_driven object to int
- kms_driven has nan-values
- fuel_type has nan values
- name is spammed

In [181]:
backup=car.copy()

#Cleaning

In [182]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [183]:
car=car[car['year'].str.isnumeric()]

In [184]:
car['year']=car['year'].astype(int)

In [185]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [186]:
car=car[car['Price']!="Ask For Price"]
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
6,Ford Figo,Ford,2012,"1,75,000","41,000 kms",Diesel

In [187]:
car['Price']=car['Price'].str.replace(',','').astype(int)

In [188]:
car['Price']

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: int32

In [189]:
car['kms_driven']

0        45,000 kms
1            40 kms
3        28,000 kms
4        36,000 kms
6        41,000 kms
           ...
886    1,32,000 kms
888      27,000 kms
889      40,000 kms
890          Petrol
891          Petrol
Name: kms_driven, Length: 819, dtype: object

In [190]:
car['kms_driven']=car['kms_driven'].str.replace(',','')

In [191]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0)

In [192]:
car['kms_driven']

0       45000
1          40
3       28000
4       36000
6       41000
        ...
886    132000
888     27000
889     40000
890    Petrol
891    Petrol
Name: kms_driven, Length: 819, dtype: object

In [193]:
car=car[car['kms_driven'].str.isnumeric()]      #remove petrol data

In [83]:
car['kms_driven']

0       45000
1          40
3       28000
4       36000
6       41000
        ...
883     50000
885     30000
886    132000
888     27000
889     40000
Name: kms_driven, Length: 817, dtype: object

In [84]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.3+ KB

In [85]:
car['kms_driven']=car['kms_driven'].astype(int)

C:\Users\KISHAN~1\AppData\Local\Temp/ipykernel_15944/1713770885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['kms_driven']=car['kms_driven'].astype(int)

In [86]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [91]:
car=car[~car['fuel_type'].isna()]        #~ means excluding

In [92]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [97]:
car['name']=car['name'].str.split().str.slice(0,3).str.join(' ')

In [98]:
car['name']

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [100]:
car              #indicies are changed therefore reset

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [101]:
car.reset_index

,index,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
2,3,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
3,4,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
4,6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...,...
811,883,Maruti Suzuki Ritz,Maruti,2011,270000,50000,Petrol
812,885,Tata Indica V2,Tata,2009,110000,30000,Diesel
813,886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
814,888,Tata Zest XM,Tata,2018,260000,27000,Diesel
815,889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [102]:
car.reset_index(drop=True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [103]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [104]:
car.describe()         #75% are around 5l but max is 8l

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [107]:
car[car['Price']>6e6]      #carprice greater then 60l

                   name   company  year    Price  kms_driven fuel_type
562  Mahindra XUV500 W6  Mahindra  2014  8500003       45000    Diesel

In [108]:
car=car[car['Price']<6e6]

In [109]:
car.describe()

              year         Price     kms_driven
count   815.000000  8.150000e+02     815.000000
mean   2012.442945  4.017933e+05   46277.096933
std       4.005079  3.815888e+05   34318.459638
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.900000e+05   56879.000000
max    2019.000000  3.100000e+06  400000.000000

In [110]:
car=car.reset_index(drop=True)

In [111]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        815 non-null    object
 1   company     815 non-null    object
 2   year        815 non-null    int32
 3   Price       815 non-null    int32
 4   kms_driven  815 non-null    int32
 5   fuel_type   815 non-null    object
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [112]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [113]:
car.to_csv('Cleandata.csv')     #new copy of cleaned data

Model

In [198]:
X= car.drop(columns='Price')       #X has all attributes except price
y= car['Price']

In [199]:
#without random state
from sklearn.model_selection import train_test_split           
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.4)

In [200]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder #converts alpha bet num
from sklearn.compose import make_column_transformer  #transform the columns
from sklearn.pipeline import make_pipeline  #Sending rawdata to 1 end & output from another

In [203]:
ohe = OneHotEncoder()    #Object of onehotencoder and converts alphbtcl data to numrical
ohe.fit(X[['name','company','fuel_type']])       #converts to num

OneHotEncoder()

In [204]:
ohe.categories_                 #all values under each column specified

[array(['Audi A3 Cabriolet 40 TFSI',
        'Audi A4 1.8 TFSI Multitronic Premium Plus',
        'Audi A4 2.0 TDI 177bhp Premium', 'Audi A6 2.0 TDI Premium',
        'Audi A8', 'Audi Q3 2.0 TDI quattro Premium',
        'Audi Q5 2.0 TDI quattro Premium Plus', 'Audi Q7',
        'BMW 3 Series 320d Sedan', 'BMW 3 Series 320i',
        'BMW 5 Series 520d Sedan', 'BMW 5 Series 530i',
        'BMW 7 Series 740Li Sedan', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d xLine', 'Chevrolet Beat',
        'Chevrolet Beat Diesel', 'Chevrolet Beat LS Diesel',
        'Chevrolet Beat LS Petrol', 'Chevrolet Beat LT Diesel',
        'Chevrolet Beat LT Opt Diesel', 'Chevrolet Beat LT Petrol',
        'Chevrolet Beat PS Diesel', 'Chevrolet Cruze LTZ',
        'Chevrolet Cruze LTZ AT', 'Chevrolet Enjoy',
        'Chevrolet Enjoy 1.4 LS 8 STR', 'Chevrolet Sail 1.2 LS',
        'Chevrolet Sail UVA Petrol LT ABS', 'Chevrolet Spark',
        'Chevrolet Spark 1.0 LT', 'Chevrolet Spark LS 1.0',
        'Chevrolet Spark LT 1.0', 'Chevrolet Spark LT 1.0 Airbag',
        'Chevrolet Tavera LS B3 10 Seats BSII', 'Chevrolet Tavera Neo',
        'Datsun GO T O', 'Datsun Go Plus', 'Datsun Redi GO',
        'Datsun Redi GO S', 'Datsun Redi GO T O',
        'Fiat Linea Emotion 1.4 L T Jet Petrol', 'Fiat Petra ELX 1.2 PS',
        'Fiat Punto Emotion 1.2', 'Force Motors Force One LX ABS 7 STR',
        'Force Motors One SUV', 'Ford EcoSport',
        'Ford EcoSport Ambiente 1.5L TDCi',
        'Ford EcoSport Titanium 1.5 TDCi',
        'Ford EcoSport Titanium 1.5L TDCi',
        'Ford EcoSport Trend 1.5 Ti VCT', 'Ford EcoSport Trend 1.5L TDCi',
        'Ford EcoSport Trend 1.5L Ti VCT',
        'Ford Endeavor 4x4 Thunder Plus', 'Ford Fiesta',
        'Ford Fiesta SXi 1.6 ABS', 'Ford Figo', 'Ford Figo Diesel EXI',
        'Ford Figo Diesel EXI Option',
        'Ford Figo Duratorq Diesel Titanium 1.4', 'Ford Figo Petrol LXI',
        'Ford Figo Petrol Titanium', 'Ford Fusion 1.4 TDCi Diesel',
        'Ford Ikon 1.3 CLXi NXt Finesse', 'Ford Ikon 1.3 Flair Josh 100',
        'Ford Ikon 1.6 Nxt', 'Hindustan Motors Ambassador',
        'Hindustan Motors Ambassador Classic Mark 4 – Befo',
        'Honda Accord', 'Honda Amaze', 'Honda Amaze 1.2 S i VTEC',
        'Honda Amaze 1.2 VX i VTEC', 'Honda Amaze 1.5 E i DTEC',
        'Honda Amaze 1.5 S i DTEC', 'Honda Amaze 1.5 SX i DTEC',
        'Honda Brio', 'Honda Brio V MT', 'Honda Brio VX AT', 'Honda City',
        'Honda City 1.5 E MT', 'Honda City 1.5 EXi New',
        'Honda City 1.5 S Inspire', 'Honda City 1.5 S MT',
        'Honda City 1.5 V AT', 'Honda City 1.5 V MT',
        'Honda City 1.5 V MT Exclusive', 'Honda City SV',
        'Honda City VX O MT Diesel', 'Honda City VX Petrol',
        'Honda City ZX CVT', 'Honda City ZX EXi', 'Honda City ZX GXi',
        'Honda City ZX VTEC', 'Honda Jazz S MT', 'Honda Jazz VX MT',
        'Honda Mobilio', 'Honda Mobilio S i DTEC',
        'Honda WR V S MT Petrol', 'Hyundai Accent',
        'Hyundai Accent Executive Edition', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6 SX',
        'Hyundai Creta 1.6 SX Plus Petrol',
        'Hyundai Creta 1.6 SX Plus Petrol AT', 'Hyundai Elantra 1.8 S',
        'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Elite i20 Asta 1.2', 'Hyundai Elite i20 Asta 1.4 CRDI',
        'Hyundai Elite i20 Magna 1.2', 'Hyundai Elite i20 Sportz 1.2',
        'Hyundai Eon', 'Hyundai Eon D Lite Plus', 'Hyundai Eon Era Plus',
        'Hyundai Eon Magna', 'Hyundai Eon Magna Plus',
        'Hyundai Eon Sportz', 'Hyundai Fluidic Verna 1.6 CRDi SX',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime 1.3 GLX',
        'Hyundai Getz Prime 1.3 GVS', 'Hyundai Grand i10',
        'Hyundai Grand i10 Asta 1.1 CRDi',
        'Hyundai Grand i10 Asta 1.2 Kappa VTVT',
        'Hyundai Grand i10 Asta 1.2 Kappa VTVT O',
        'Hyundai Grand i10 Magna 1.2 Kappa VTVT',
        'Hyundai Grand i10 Magna AT 1.2 Kappa VTVT',
        'Hyundai Grand i10 Sportz 1.2 Kappa VTVT',
        'Hyundai Grand i10 Sportz O 1.2 Kappa VTVT', 'Hyundai Santro',
        'Hyundai Santro AE GLS Audio', 'Hyundai Santro Xing',
        'Hyundai Santro Xing GL', 'Hyundai Santro Xing GLS',
        'Hyundai Santro Xing XL AT eRLX Euro III',
        'Hyundai Santro Xing XL eRLX Euro III',
        'Hyundai Santro Xing XO eRLX Euro III', 'Hyundai Santro Xing XS',
        'Hyundai Sonata Transform 2.4 GDi MT', 'Hyundai Verna',
        'Hyundai Verna 1.4 VTVT', 'Hyundai Verna 1.6 CRDI E',
        'Hyundai Verna 1.6 CRDI SX', 'Hyundai Verna 1.6 CRDI SX Plus AT',
        'Hyundai Verna 1.6 EX VTVT', 'Hyundai Verna 1.6 SX VTVT AT',
        'Hyundai Verna Fluidic', 'Hyundai Verna Fluidic 1.6 VTVT SX',
        'Hyundai Verna Fluidic New', 'Hyundai Verna Transform SX VTVT',
        'Hyundai Verna VGT CRDi SX ABS', 'Hyundai Xcent Base 1.1 CRDi',
        'Hyundai Xcent SX 1.2', 'Hyundai i10', 'Hyundai i10 Era',
        'Hyundai i10 Magna 1.2', 'Hyundai i10 Magna 1.2 Kappa2',
        'Hyundai i10 Sportz', 'Hyundai i10 Sportz 1.2', 'Hyundai i20',
        'Hyundai i20 Active', 'Hyundai i20 Active 1.2 SX',
        'Hyundai i20 Active 1.4L SX O', 'Hyundai i20 Asta',
        'Hyundai i20 Asta 1.2', 'Hyundai i20 Asta 1.4 CRDI 6 Speed',
        'Hyundai i20 Magna', 'Hyundai i20 Magna 1.2',
        'Hyundai i20 Magna O 1.2', 'Hyundai i20 Select Variant',
        'Hyundai i20 Sportz 1.2', 'Hyundai i20 Sportz 1.4 CRDI',
        'Jaguar XE XE Portfolio', 'Jaguar XF 2.2 Diesel Luxury',
        'Jeep Wrangler Unlimited 4x4 Diesel', 'Land Rover Freelander 2 SE',
        'Mahindra Bolero DI', 'Mahindra Bolero DI BSII',
        'Mahindra Bolero Power Plus SLE', 'Mahindra Bolero SLE BS IV',
        'Mahindra Jeep CL550 MDI', 'Mahindra Jeep MM 550 XDB',
        'Mahindra KUV100', 'Mahindra KUV100 K8 6 STR',
        'Mahindra KUV100 K8 D 6 STR', 'Mahindra Logan',
        'Mahindra Logan Diesel 1.5 DLS', 'Mahindra Quanto C4',
        'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6 CRDe', 'Mahindra Scorpio 2.6 SLX',
        'Mahindra Scorpio LX BS III', 'Mahindra Scorpio S10',
        'Mahindra Scorpio S10 4WD', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE BS IV', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio SLX 2.6 Turbo 8 Str',
        'Mahindra Scorpio VLX 2.2 mHawk Airbag BSIV',
        'Mahindra Scorpio VLX 2WD BS IV',
        'Mahindra Scorpio VLX 4WD Airbag', 'Mahindra Scorpio VLX Airbag',
        'Mahindra Scorpio VLX Special Edition BS III',
        'Mahindra Scorpio Vlx BSIV',
        'Mahindra Scorpio W Turbo 2.6DX 9 Seater',
        'Mahindra TUV300 T4 Plus', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe 4x4 AC', 'Mahindra XUV500',
        'Mahindra XUV500 W10', 'Mahindra XUV500 W6', 'Mahindra XUV500 W8',
        'Mahindra XUV500 W8 AWD 2013', 'Mahindra Xylo D2',
        'Mahindra Xylo D2 BS IV', 'Mahindra Xylo E4', 'Mahindra Xylo E8',
        'Mahindra Xylo E8 BS IV', 'Maruti Suzuki 800',
        'Maruti Suzuki 800 Std BS III', 'Maruti Suzuki A Star Lxi',
        'Maruti Suzuki Alto', 'Maruti Suzuki Alto 800',
        'Maruti Suzuki Alto 800 LXI CNG O', 'Maruti Suzuki Alto 800 Lx',
        'Maruti Suzuki Alto 800 Lxi', 'Maruti Suzuki Alto 800 Vxi',
        'Maruti Suzuki Alto AX', 'Maruti Suzuki Alto K10 LXi CNG',
        'Maruti Suzuki Alto K10 New', 'Maruti Suzuki Alto K10 VXi',
        'Maruti Suzuki Alto K10 VXi AMT', 'Maruti Suzuki Alto K10 VXi AT',
        'Maruti Suzuki Alto LX', 'Maruti Suzuki Alto LXi BS III',
        'Maruti Suzuki Alto Std BS IV', 'Maruti Suzuki Baleno Delta 1.2',
        'Maruti Suzuki Baleno Sigma 1.2', 'Maruti Suzuki Baleno Zeta 1.2',
        'Maruti Suzuki Celerio VDi', 'Maruti Suzuki Ciaz VXi Plus',
        'Maruti Suzuki Ciaz ZXI Plus', 'Maruti Suzuki Ciaz ZXi Plus RS',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Dzire LDI',
        'Maruti Suzuki Dzire VDI', 'Maruti Suzuki Dzire ZXI',
        'Maruti Suzuki Eeco 5 STR WITH AC HTR', 'Maruti Suzuki Eeco 7 STR',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Ertiga LDi',
        'Maruti Suzuki Ertiga VDi', 'Maruti Suzuki Ertiga Vxi',
        'Maruti Suzuki Ertiga ZXI Plus', 'Maruti Suzuki Ertiga ZXi',
        'Maruti Suzuki Esteem LXi BS III',
        'Maruti Suzuki Esteem VXi BS III', 'Maruti Suzuki Estilo LX BS IV',
        'Maruti Suzuki Estilo VXi ABS BS IV',
        'Maruti Suzuki Maruti 800 AC', 'Maruti Suzuki Maruti 800 Std',
        'Maruti Suzuki Maruti 800 Std – Befo', 'Maruti Suzuki Omni',
        'Maruti Suzuki Omni 8 STR BS III',
        'Maruti Suzuki Omni E 8 STR BS IV', 'Maruti Suzuki Omni LPG BS IV',
        'Maruti Suzuki Omni Limited Edition',
        'Maruti Suzuki Omni Select Variant', 'Maruti Suzuki Ritz',
        'Maruti Suzuki Ritz GENUS VXI', 'Maruti Suzuki Ritz LDi',
        'Maruti Suzuki Ritz VDi', 'Maruti Suzuki Ritz VXI',
        'Maruti Suzuki Ritz VXI ABS', 'Maruti Suzuki S Cross Sigma 1.3',
        'Maruti Suzuki SX4', 'Maruti Suzuki SX4 Celebration Diesel',
        'Maruti Suzuki SX4 ZXI MT', 'Maruti Suzuki Stingray VXi',
        'Maruti Suzuki Swift', 'Maruti Suzuki Swift Dzire',
        'Maruti Suzuki Swift Dzire Tour LDi',
        'Maruti Suzuki Swift Dzire Tour LXi',
        'Maruti Suzuki Swift Dzire Tour VDi',
        'Maruti Suzuki Swift Dzire Tour VXi',
        'Maruti Suzuki Swift Dzire VDi',
        'Maruti Suzuki Swift Dzire VXi 1.2 BS IV',
        'Maruti Suzuki Swift Dzire ZDi', 'Maruti Suzuki Swift GLAM',
        'Maruti Suzuki Swift LDi', 'Maruti Suzuki Swift RS VDI',
        'Maruti Suzuki Swift Select Variant', 'Maruti Suzuki Swift VDi',
        'Maruti Suzuki Swift VDi ABS', 'Maruti Suzuki Swift VDi BS IV',
        'Maruti Suzuki Swift VXI BSIII',
        'Maruti Suzuki Swift VXi 1.2 ABS BS IV',
        'Maruti Suzuki Swift VXi 1.2 BS IV',
        'Maruti Suzuki Swift Vdi BSIII',
        'Maruti Suzuki Swift ZXi 1.2 BS IV',
        'Maruti Suzuki Versa DX2 8 SEATER BSIII',
        'Maruti Suzuki Vitara Brezza', 'Maruti Suzuki Vitara Brezza LDi O',
        'Maruti Suzuki Vitara Brezza ZDi', 'Maruti Suzuki Wagon R',
        'Maruti Suzuki Wagon R 1.0', 'Maruti Suzuki Wagon R 1.0 VXi',
        'Maruti Suzuki Wagon R AX BSIV', 'Maruti Suzuki Wagon R Duo Lxi',
        'Maruti Suzuki Wagon R LX BS III',
        'Maruti Suzuki Wagon R LX BS IV',
        'Maruti Suzuki Wagon R LXI BS IV',
        'Maruti Suzuki Wagon R LXi BS III',
        'Maruti Suzuki Wagon R Select Variant',
        'Maruti Suzuki Wagon R VXI BS IV',
        'Maruti Suzuki Wagon R VXi BS III',
        'Maruti Suzuki Wagon R VXi Minor', 'Maruti Suzuki Zen Estilo',
        'Maruti Suzuki Zen Estilo LXI Green CNG',
        'Maruti Suzuki Zen LX BSII', 'Maruti Suzuki Zen LXi BS III',
        'Maruti Suzuki Zen LXi BSII', 'Maruti Suzuki Zen VX',
        'Mercedes Benz A Class A 180 Sport Petrol',
        'Mercedes Benz B Class B180 Sports',
        'Mercedes Benz C Class 200 CDI Classic',
        'Mercedes Benz C Class 200 K MT',
        'Mercedes Benz C Class C 220 CDI Avantgarde',
        'Mercedes Benz GLA Class 200 CDI Sport', 'Mini Cooper S',
        'Mini Cooper S 1.6', 'Mitsubishi Lancer 1.8 LXi',
        'Mitsubishi Pajero Sport 2.5 AT',
        'Mitsubishi Pajero Sport Limited Edition', 'Nissan Micra XL',
        'Nissan Micra XV', 'Nissan Sunny', 'Nissan Sunny XL',
        'Nissan Terrano XL D Plus', 'Nissan X Trail Select Variant',
        'Renault Duster', 'Renault Duster 110 PS RxL Diesel',
        'Renault Duster 110 PS RxZ Diesel',
        'Renault Duster 110 PS RxZ Diesel Plus',
        'Renault Duster 110PS Diesel RxZ',
        'Renault Duster 85 PS RxE Diesel',
        'Renault Duster 85 PS RxL Diesel',
        'Renault Duster 85 PS RxL Explore LE',
        'Renault Duster 85PS Diesel RxL Optional with Nav',
        'Renault Duster RxL Petrol', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid 1.0 RXT AMT', 'Renault Kwid RXT',
        'Renault Kwid RXT Opt', 'Renault Lodgy 85 PS RXL',
        'Renault Scala RxL Diesel', 'Renault Scala RxL Diesel Travelogue',
        'Skoda Fabia', 'Skoda Fabia 1.2L Diesel Ambiente',
        'Skoda Fabia 1.2L Diesel Elegance', 'Skoda Fabia Classic 1.2 MPI',
        'Skoda Laura', 'Skoda Octavia Classic 1.9 TDI MT',
        'Skoda Rapid Elegance 1.6 TDI CR MT', 'Skoda Superb 1.8 TFSI AT',
        'Skoda Yeti Ambition 2.0 TDI CR 4x2', 'Tata Aria Pleasure 4X2',
        'Tata Bolt XM Petrol', 'Tata Indica', 'Tata Indica V2',
        'Tata Indica V2 DLE BS III', 'Tata Indica V2 DLG',
        'Tata Indica V2 DLS BS III', 'Tata Indica V2 DLX BS III',
        'Tata Indica V2 LS', 'Tata Indica V2 Xeta e GLE',
        'Tata Indica V2 eLS', 'Tata Indica eV2 LS',
        'Tata Indica eV2 eXeta eGLX', 'Tata Indigo CS',
        'Tata Indigo CS GLS', 'Tata Indigo CS LS DiCOR',
        'Tata Indigo CS eLS BS IV', 'Tata Indigo CS eLX BS IV',
        'Tata Indigo LS', 'Tata Indigo LX TDI BS III',
        'Tata Indigo Marina LS', 'Tata Indigo eCS',
        'Tata Indigo eCS LS CR4 BS IV', 'Tata Indigo eCS LX CR4 BS IV',
        'Tata Indigo eCS LX TDI BS III', 'Tata Indigo eCS VX CR4 BS IV',
        'Tata Manza', 'Tata Manza Aqua Quadrajet',
        'Tata Manza Aura Quadrajet', 'Tata Manza ELAN Quadrajet',
        'Tata Nano', 'Tata Nano Cx BSIV', 'Tata Nano GenX XMA',
        'Tata Nano LX Special Edition', 'Tata Nano Lx BSIV',
        'Tata Sumo Gold EX BS IV', 'Tata Sumo Gold FX BSIII',
        'Tata Sumo Gold LX BS IV', 'Tata Sumo Gold Select Variant',
        'Tata Sumo Grande MKII GX', 'Tata Sumo Victa EX 10 by 7 Str BSIII',
        'Tata Tiago Revotorq XZ', 'Tata Tiago Revotron XM',
        'Tata Tiago Revotron XZ', 'Tata Tigor Revotron XZ',
        'Tata Venture EX 8 STR', 'Tata Vista Quadrajet VX',
        'Tata Zest Quadrajet 1.3', 'Tata Zest XE 75 PS Diesel',
        'Tata Zest XM Diesel', 'Toyota Corolla', 'Toyota Corolla Altis',
        'Toyota Corolla Altis 1.8 GL', 'Toyota Corolla Altis 1.8 J',
        'Toyota Corolla Altis Diesel D4DG',
        'Toyota Corolla Altis GL Petrol',
        'Toyota Corolla Altis Petrol Ltd',
        'Toyota Corolla Altis VL AT Petrol', 'Toyota Corolla H2',
        'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
        'Toyota Etios Liva', 'Toyota Etios Liva Diesel',
        'Toyota Etios Liva G', 'Toyota Etios Liva GD', 'Toyota Fortuner',
        'Toyota Fortuner 3.0 4x2 MT', 'Toyota Fortuner 3.0 4x4 MT',
        'Toyota Innova 2.0 G 8 STR BS IV', 'Toyota Innova 2.0 G4',
        'Toyota Innova 2.5 E 8 STR', 'Toyota Innova 2.5 E MS 7 STR BS IV',
        'Toyota Innova 2.5 G BS III 8 STR',
        'Toyota Innova 2.5 GX BS IV 7 STR', 'Toyota Innova 2.5 V 7 STR',
        'Toyota Innova 2.5 Z Diesel 7 Seater', 'Toyota Qualis',
        'Volkswagen Jetta Comfortline 1.9 TDI AT',
        'Volkswagen Jetta Highline TDI AT',
        'Volkswagen Passat Diesel Comfortline AT', 'Volkswagen Polo',
        'Volkswagen Polo Comfortline 1.2L P',
        'Volkswagen Polo Highline Exquisite P',
        'Volkswagen Polo Highline1.2L P',
        'Volkswagen Polo Trendline 1.5L D',
        'Volkswagen Vento Comfortline Diesel',
        'Volkswagen Vento Comfortline Petrol',
        'Volkswagen Vento Highline Plus 1.5 Diesel AT',
        'Volkswagen Vento Konekt Diesel Highline', 'Volvo S80 Summum D4'],
       dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol', nan], dtype=object)]

In [133]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']), remainder='passthrough')
#making 2 diff operations together to send into pipeline

In [134]:
lr = LinearRegression()  #used to predict the value of a variable based on the value of another variable

In [136]:
pipe=make_pipeline(column_trans,lr)  #converting values and sending to model

In [137]:
pipe.fit(X_train,y_train)  #training the data

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [205]:
#training the X_train , y_train data and predicting output from X_test(already trained data) & storing in variable(y_pred) then
#checking for the r2_score using y_test and predicted output (y_pred)

In [139]:
y_pred=pipe.predict(X_test)         #prediction value (money)

In [140]:
y_pred                             #predicted money for each data row

array([ 648082.92450759,  233688.14938232,  221335.05746836,
        482910.58881434,  106109.6698945 ,  538969.16497708,
        444917.77103704,  163345.64660314,  552952.96829643,
        311895.29470748,  385944.91159504,  334743.56966379,
        247116.62082098,  283290.81453437, 1579114.14623633,
        273328.6565049 ,  440472.60401146,  401225.76210665,
        144976.42282265,  153494.21295685,  226839.88352544,
        371279.19771596,  620160.50719531,  287805.72692198,
        151251.15085834,  459392.98198951,  459018.25855965,
        587376.48138965,  485347.62309723,  240746.32251345,
        362537.80918796,  316165.46869653,  107472.15751898,
        525754.64960437,  192345.38708877,  312615.92349403,
        270505.29639708,  454992.84591556,  545373.27402928,
        438017.28316451,  454206.92331903,  432808.95203336,
        261842.61125129,  549307.87004274,  380262.01444354,
        320700.73377461,  259851.88138007,  230315.63851362,
        226839.88352544,  438857.54665485,  584889.96170737,
        618028.62483722,  767871.34848867,  247122.51334414,
        -73412.16447949, 1291667.03815319,  179655.77821993,
       1485226.21292242,  706203.63374921,  183719.111577  ,
        291853.24490653,   40058.1103441 ,  317197.0185142 ,
        262336.59882992,  294348.4472914 ,  240887.06067524,
        363960.82062957,  221149.81271578,  344177.06592665,
        213705.45954159,  240933.68422838,   62477.2076388 ,
        597949.72807655,  332327.48592264,  535832.53693577,
        427666.37755246,  211672.8309339 ,  537720.34563069,
        342990.04122345,  225884.33034728,  549175.69633213,
        338248.707493  ,  355721.40183859,  250412.51143738,
        289892.17651297,  166339.0032075 ,  335497.11781432,
        591685.80083297,  629234.04153646,  260100.39821306,
        311895.29470748,  199656.72152466,  274135.36287077,
        391972.63497891,  517265.08368655,  391413.56798799,
        241310.29376639,  325943.30922451,  457803.27163946,
        341760.21310417,  155449.27047469,  356658.21041322,
       1230267.71241704,  365456.79334689,   49698.1444746 ,
        372196.38773769,  334837.61426303,   51009.67647909,
        137158.87869604,   42857.6517892 ,  366119.73943375,
        334837.61426303,  252060.98456076,  316765.80909961,
         96436.19002606,   65541.37341166,  235600.05887888,
       1066092.27650378,  308026.07168592,  222225.24248985,
       1084616.62567734,  395186.56502136,  124586.60874572,
        844464.21348257,  183397.73403786,  309339.28584391,
        298459.4244527 ,   88039.30657963,  350316.76665851,
        276383.70344989,  292531.0386566 ,  556347.28707287,
        362007.4171377 ,  395509.18365289,  629234.04153646,
        628162.91597981,   -9659.82095025,  369198.60029886,
       1891295.34605467, 1304300.64160321, 1698929.15030965,
       1048071.26929551,   66488.39977617,  288075.71515319,
        667059.20958028,  454805.48420063,  125895.65836946,
        225884.33034728,  335428.51748098,  177556.72957978,
        583100.53574333,  351102.31251565,  374543.76826191,
        260789.15140194,  525754.64960437,  251379.70022926,
        382938.2166305 ,  520610.2806038 ,  290579.2740541 ,
         90867.47607724,  192149.14885985,  561946.33061293,
        690502.90578413,  238685.34364926,  492073.02628169,
        245959.23058666,  286576.18074192,  188934.54345699,
        373133.19631232,  144183.70427082,  870279.65105399,
        395509.18365289,  151522.56030609,  400585.01699394,
        240398.14051412,  291632.96151066,  327513.37219182,
        278710.34262146,  334998.604789  ,  328870.85745853,
        289477.55291089,  630916.19838016,  294669.10367388,
        689943.05630598,  274516.46907458,  126083.02008438,
        726538.17141846,  687694.71572686,  584889.96170737,
        436448.15204947, 1168631.98416524,  243383.41242776,
       1563620.71996251,  187173.53362442,  288802.16835575,
        372648.90973225,  320700.73377461,  170302.18152069,
        600076.09849438,   69924.05867191,   39178.31697308,
        520610.2806038 ,  324434.90213922,  255177.11984797,
       1250499.48883897,  561872.56710266,  392626.24894531,
        498402.87379463,  580026.49331887,  419619.35936484,
        484595.61254795,   51262.24048651,  144747.32065053,
        396999.25277573,  294348.4472914 ,  320148.97445239,
        404276.96283919,  691178.67983556,  249623.65943922,
        460891.87570892,  382622.63881497,  375012.10013392,
        235374.40481666,  353945.83038688,  271263.64651054,
        263795.75873461,  141573.05300619,  283346.16206641,
        540631.5078362 ,  231021.26728804,  408807.05835601,
        210428.02874666,  286925.65320293,  230401.37893654,
        294065.91680694,  589095.88085112,  440790.56108925,
        252858.34337094,  460904.86206276,  245805.08881649,
        520062.47941886,  463069.01821031,  350119.00652229,
        328275.2889545 ,  114302.23791741, 1233465.22744399,
         75361.87889908,  171725.34064741,  244415.65657756,
        411393.64125774,  138818.59269986,  225375.26100849,
        456585.8907575 ,  221217.17445203,  312241.20006417,
        329972.64961072, 1320901.48092441,  587409.62541678,
        164095.65554798,  365242.05568551, 1579940.41139916,
        335237.73356303,  580026.49331887,  416149.50433534,
        548128.41048136,  422052.59142265,  344544.27398448,
        370322.77058842,  484096.93494894,  122335.78578584,
        464471.36684544,  397112.26118334,  237598.64570268,
        604425.57295486,  606071.44360217,  117721.07222043,
        439745.13277997,  501400.66123346,  500264.39569563,
        430013.56970318,  130245.06612075,  305034.21397527,
        325943.30922451,  382917.72733752,   81349.36380197,
       1891295.34605467,  314229.37570951,  350729.43050072,
        283690.81033204,  694902.89562353,  437969.15407669,
        232379.57648201,  326892.92050866,  295742.52431914,
        234146.99040759,  335491.33624268,  969329.86640731,
         42189.58262491,  348533.98326108,  350215.0288684 ,
        406230.93951108,  501520.6497796 ,   40184.75506736,
       1891295.34605467,  239316.90749264,  186072.39996177,
        345314.40719049,  954040.55909061,  324851.52392895,
        274516.46907458,  329149.14044646, 1014897.41823488,
        572292.36224053,  584298.53856758,  397658.68830352,
        336893.92006601,  248506.29282723,  142400.89715254,
        482738.84304807,  194673.13715249,  682853.27667063,
        111732.42022038,  605456.06238696,  504120.27032673,
        199403.69691893,  432808.95203336])

In [144]:
r2_score(y_test,y_pred)                #r2 score ,first test value passed then predicted

0.6547971636405374

In [150]:
scores=[]
for i in range(1000):
    X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.4, random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    print(r2_score(y_test,y_pred), i)
    scores.append(r2_score(y_test,y_pred))

0.7082833968262897 0
0.6304088872553197 1
0.7171314977237564 2
0.6200765322228343 3
0.6778440792474532 4
0.7700267048978899 5
0.6160244266523716 6
0.6929862256675595 7
0.7435979965858265 8
0.7178557484667543 9
0.7502310009474696 10
0.5783856426375268 11
0.6456118863644351 12
0.7373611166033033 13
0.7687625606567261 14
0.7188848802246853 15
0.594591247200752 16
0.7375775069338943 17
0.6724160087064279 18
0.6511241455640915 19
0.6571207886666521 20
0.5583467372174762 21
0.7670818819772556 22
0.6436592315798226 23
0.6602556542005953 24
0.6210730659334835 25
0.6386294303028026 26
0.701968847245029 27
0.7499589771669231 28
0.593684201224602 29
0.6337538484296661 30
0.5816959259874347 31
0.647429581805302 32
0.7014999435372836 33
0.620738599392578 34
0.6954760756528291 35
0.6807690774324449 36
0.583651315363324 37
0.6264276718522622 38
0.7292175165427183 39
0.4853132918193004 40
0.6483202975458942 41
0.6232709220881398 42
0.6257130315453348 43
0.7450494536508616 44
0.6055578108484614 45
0.6892167415211145 46
0.6365124911652303 47
0.7944915654822003 48
0.586711530715954 49
0.6453996942377497 50
0.6514955360777208 51
0.5856132445024174 52
0.7130157918007349 53
0.5900532783988846 54
0.7347116069104365 55
0.7600907336504426 56
0.6638294108761504 57
0.7535298888837518 58
0.5447119033565881 59
0.6361256562758972 60
0.5900068226968211 61
0.5420766037944437 62
0.6624949851715778 63
0.6807796107626287 64
0.6203984130929845 65
0.6389722849422546 66
0.6902863089808751 67
0.5876645122894719 68
0.7139386857699288 69
0.6211658934525986 70
0.6473856776333413 71
0.6173059353082657 72
0.7142973143121594 73
0.6731744766817647 74
0.6436723897901704 75
0.6098737618249905 76
0.6075588128036463 77
0.6533716787466293 78
0.650472937683592 79
0.6270977447296375 80
0.6392927701803689 81
0.5417764702763596 82
0.6956177604101067 83
0.694407164342622 84
0.6181220296447161 85
0.7258920647929754 86
0.7426037075495143 87
0.6307821013907399 88
0.6509068734154432 89
0.699799097222442 90
0.633645521630167 91
0.7212469356202259 92
0.49436677672951823 93
0.6344013596182629 94
0.6326977573194189 95
0.6604664586417983 96
0.6030525805127647 97
0.6403222971180811 98
0.6029503342931599 99
0.6886824233713777 100
0.7401351665906463 101
0.5339811338215721 102
0.6856697889477631 103
0.6511506959355864 104
0.561741473276187 105
0.6560221466301752 106
0.5791523451408758 107
0.5225497122125602 108
0.6580854988673206 109
0.6725610265204478 110
0.5837175681300629 111
0.70638667982331 112
0.7448101002203497 113
0.7386090927367164 114
0.6792667622045456 115
0.5369085433216139 116
0.6720184920133608 117
0.6325600342402687 118
0.6839127768390418 119
0.7772893415835511 120
0.7077523832894241 121
0.6700378068451333 122
0.7075601754353544 123
0.7696620971166153 124
0.6519402444467186 125
0.6565488326685743 126
0.6324299238998446 127
0.662339825579192 128
0.7385098865916107 129
0.5782487288603896 130
0.6819542727079337 131
0.7492280793069542 132
0.5696150139859204 133
0.6208446295815688 134
0.778958933893203 135
0.6338992125187295 136
0.7559022793718131 137
0.6882478640103697 138
0.6582762644449951 139
0.8053063021117726 140
0.6438902368703259 141
0.7243822409568501 142
0.5937741067348502 143
0.6863036155212238 144
0.5739140208705039 145
0.7126095367700069 146
0.6303326561295899 147
0.634619871779845 148
0.7236483286918742 149
0.7125468625261875 150
0.7829186444952856 151
0.6603558791768032 152
0.6365732309635665 153
0.7292981862303238 154
0.6555319335602781 155
0.6057545928040986 156
0.6903918682984429 157
0.6118412199357315 158
0.7288153493648531 159
0.7532429865616168 160
0.7694280713668674 161
0.6184182659955961 162
0.6875423951202555 163
0.7107210589953854 164
0.6890203660389056 165
0.6073339573770321 166
0.656419878583294 167
0.5470995958228224 168
0.6091126250257433 169
0.6511276234382734 170
0.7202321623155439 171
0.5873668535599273 172
0.6301094198724757 173
0.6581103418613345 174
0.6526257019829607 175
0.662749422838 176
0.7351386987417863 177
0.6148176394533795 178
0.5521512080583786 179
0.5575247971340294 180
0.6745423224355463 181
0.7041333234316207 182
0.6928142528984313 183
0.6467002757958495 184
0.7188584778761302 185
0.6776820165913677 186
0.7093726821218997 187
0.7133184577778385 188
0.5679899973637738 189
0.6938950798296524 190
0.6540969611803205 191
0.673785753673771 192
0.6876066293330423 193
0.7365081503326625 194
0.6897882213340978 195
0.7547261416608335 196
0.7548447524037889 197
0.5783122007722112 198
0.583948146948896 199
0.6278360485478414 200
0.6145782511792044 201
0.6239350273783414 202
0.7006967513151816 203
0.6341929061331422 204
0.6901276984383171 205
0.7174914355647894 206
0.7033493292913398 207
0.6754748774433231 208
0.6740381675113127 209
0.6446625031678985 210
0.6503109562890408 211
0.6813163075856608 212
0.7009426588950285 213
0.5394648995391333 214
0.7026310061897022 215
0.6234544899650305 216
0.7046116384240215 217
0.6502285721721669 218
0.6418023909461135 219
0.662836269414302 220
0.6235900470867023 221
0.5095161641005015 222
0.5801962837195678 223
0.5982131046813459 224
0.763897914769289 225
0.643854567327433 226
0.6075369158474058 227
0.6966524148400037 228
0.5428618801639016 229
0.5237159385514403 230
0.6471949063587585 231
0.6187275711559267 232
0.6636292216659693 233
0.7390399547836414 234
0.5892085308563448 235
0.7360724812351621 236
0.592705815686954 237
0.6393815445409612 238
0.6459791656765379 239
0.5962505325079935 240
0.4957282649734476 241
0.6435833366536242 242
0.6949042216958778 243
0.5661385785439432 244
0.7462768792558523 245
0.63495862263717 246
0.7647906271883066 247
0.7827252840147598 248
0.6616221599454744 249
0.732259503920785 250
0.6691521716067563 251
0.6348824803483464 252
0.7907074763495681 253
0.7165896148231847 254
0.5928956805843552 255
0.6177871202170553 256
0.686731149472047 257
0.6923715905042208 258
0.609991764302628 259
0.6945779546916286 260
0.7195248735224051 261
0.8029514085515499 262
0.6776352823251841 263
0.7153139649567389 264
0.6295959203162245 265
0.5938177537549378 266
0.66062609495735 267
0.6662028254717312 268
0.6042626600721555 269
0.702504829892749 270
0.5769298205344975 271
0.7209246582040876 272
0.7859222236258833 273
0.7023437802998754 274
0.6906877367790039 275
0.6942396200251194 276
0.7290949592829947 277
0.6327300793384122 278
0.7636795981799284 279
0.6417627948086826 280
0.6466924725317438 281
0.6484287738601939 282
0.7560760020472008 283
0.7190399424303187 284
0.5803466486501054 285
0.5398793003922875 286
0.6398787859809119 287
0.6293483150918231 288
0.6573310831601249 289
0.5832542567542286 290
0.6900904887685495 291
0.6669566009229039 292
0.7200253905228502 293
0.6853926485788542 294
0.6693367429485326 295
0.6998007559674015 296
0.7357810741831878 297
0.5956289884033246 298
0.6557219765388133 299
0.5623895315661676 300
0.5419642329961007 301
0.7193849179210957 302
0.6350875170211618 303
0.6633774803401828 304
0.5935246171101232 305
0.7490413324646066 306
0.7240447957183602 307
0.6293812084586643 308
0.7436630698281342 309
0.6877281083508805 310
0.6316968641314178 311
0.5708143646983411 312
0.5855801787244754 313
0.636238658158299 314
0.7677343365887239 315
0.6836191631398938 316
0.6167808203176648 317
0.706319175667226 318
0.5705492031488482 319
0.5113596008716428 320
0.6068650260287466 321
0.5661713619406941 322
0.5673811969390077 323
0.642988236998383 324
0.584098165080513 325
0.7457434106243368 326
0.7536918510798816 327
0.7872336209991109 328
0.6485527696666711 329
0.6668876007727962 330
0.5974407894914651 331
0.7298659124141579 332
0.6834816155729695 333
0.7111319004849306 334
0.7325580759222506 335
0.6875215509578425 336
0.7945379525499108 337
0.6984823230506982 338
0.7287121300140548 339
0.7235034889482928 340
0.8070646523721009 341
0.7119813309893628 342
0.6531812171558137 343
0.7222353196227774 344
0.6677190004669966 345
0.6364519107051452 346
0.6301838567178851 347
0.6207654634696139 348
0.6744580438982535 349
0.6750297052073276 350
0.7675719814910588 351
0.6011103997639626 352
0.6553836215022737 353
0.7030616369666768 354
0.752460141720141 355
0.6888482055011682 356
0.6400870501515115 357
0.5018100427029238 358
0.683580019204035 359
0.6482725447155073 360
0.5752801241631832 361
0.6407263700047772 362
0.7529632097934416 363
0.673066084348743 364
0.6027662929860708 365
0.6907807376345324 366
0.5988515985106839 367
0.70905945619791 368
0.7319756817511591 369

0.6602666335718332 370
0.6111972643259697 371
0.6033714559133738 372
0.5970153570752034 373
0.6034107965914768 374
0.7194177436201293 375
0.6261772869569568 376
0.709256891689404 377
0.682292414568586 378
0.7676127063436169 379
0.5220958841361715 380
0.6870343260433751 381
0.6965877365276347 382
0.706987008245119 383
0.6556916126582564 384
0.6876481406285774 385
0.6592972300099449 386
0.69279545851756 387
0.628506789950221 388
0.5821724736846088 389
0.682909614579137 390
0.6158254971597465 391
0.7366675757110583 392
0.6210908388525458 393
0.7022777633173738 394
0.7383090829974372 395
0.603536386211123 396
0.7079008262940615 397
0.5722001199678962 398
0.6637416842070737 399
0.7428215426068188 400
0.7494368466602375 401
0.635611037066006 402
0.5198918269204548 403
0.7043546504323343 404
0.6922184660268657 405
0.7475824004006534 406
0.630805352664703 407
0.7867830288280562 408
0.7081190784494797 409
0.6417766144649059 410
0.642592620103686 411
0.7583780465174917 412
0.5309425360694513 413
0.7720899741010492 414
0.5778932630514612 415
0.6145963624725292 416
0.799909606137748 417
0.7013197600542593 418
0.8219444894759023 419
0.7122591828218905 420
0.6334680962665742 421
0.7139855848260543 422
0.6810707898421593 423
0.7134980570655123 424
0.6081563763835738 425
0.6623119270465803 426
0.7646250681771942 427
0.6533052389354843 428
0.7084098086179145 429
0.6322933812139626 430
0.6430957421126088 431
0.7145081091810317 432
0.7485439820892262 433
0.6600047470242043 434
0.7354610289857402 435
0.5012790581615454 436
0.6634168197248984 437
0.674545264042895 438
0.6652287679192694 439
0.6738152855298092 440
0.7003550278153143 441
0.6667403695129857 442
0.6822690358415328 443
0.7278987985729986 444
0.627385413135816 445
0.6901115053260423 446
0.6386130622120271 447
0.7705282886118163 448
0.6500169915149288 449
0.7264754020734985 450
0.5643153218090067 451
0.6743744127928253 452
0.6717768074236309 453
0.7145249320733322 454
0.5756088739478127 455
0.5650628349864701 456
0.6255043926688633 457
0.6323023309531007 458
0.7328825581047853 459
0.6511277821734314 460
0.6724255550066016 461
0.6674291391288747 462
0.6352422537898059 463
0.6285028702212072 464
0.6527366825625105 465
0.7143814489901303 466
0.6577670686048456 467
0.721975705228894 468
0.6471580794400946 469
0.617548414880117 470
0.6736560337084503 471
0.49123962020077727 472
0.7022983876970532 473
0.5738094948832051 474
0.6939078992252226 475
0.6651238902902281 476
0.6965026156861696 477
0.6485290420241854 478
0.5868865416303559 479
0.617704953493883 480
0.7004706340761258 481
0.628153282031131 482
0.5667918669564749 483
0.7255283962402834 484
0.4844914865745782 485
0.6671775404276924 486
0.6398127743962653 487
0.6264465276757554 488
0.679109437905 489
0.720090386446768 490
0.7226787405582552 491
0.5764131155459193 492
0.7140411380262031 493
0.6891948750861978 494
0.6861396773597832 495
0.7166209832466292 496
0.5324731601083077 497
0.6418098902541735 498
0.7338061701439702 499
0.7363494564336444 500
0.5827629924603661 501
0.7086877427900646 502
0.649714427019306 503
0.5590029939685048 504
0.729900235849808 505
0.6602953625337504 506
0.7187673469163047 507
0.6000466819929724 508
0.6821262793801728 509
0.7035266454722205 510
0.6554066580983201 511
0.5925960781299835 512
0.7159219976974355 513
0.6399991052710895 514
0.7336666475237114 515
0.6397067039858035 516
0.6228072990169108 517
0.5816805142418662 518
0.768347734440012 519
0.6351554335371905 520
0.5290305209640002 521
0.6159557232667288 522
0.7031305432407949 523
0.5844073631908007 524
0.5897682701734497 525
0.746789309600155 526
0.7820972203476249 527
0.6634688190897633 528
0.6628616588026498 529
0.7309528050779637 530
0.6675851381877624 531
0.6728412636153271 532
0.7422982053172151 533
0.572521104720698 534
0.6432214350616114 535
0.6664113798503388 536
0.6202060327359313 537
0.5565879498125419 538
0.7097054957446205 539
0.6865439872103443 540
0.5905843531226163 541
0.6741252050752804 542
0.7132548414588848 543
0.6721551453219639 544
0.6097148916153787 545
0.6720004589113906 546
0.6223651769753453 547
0.6991267627177996 548
0.5390414010149495 549
0.6749142916754968 550
0.7519546361817944 551
0.6657231603117828 552
0.6725472242984363 553
0.6652350286423292 554
0.6108379327106128 555
0.7169396069925926 556
0.6328057621383334 557
0.633009380163288 558
0.6077718620700987 559
0.5356757147575406 560
0.5510907740141878 561
0.6461067884524552 562
0.6859379636527245 563
0.6670318359750473 564
0.7598058984347464 565
0.7212024820473639 566
0.7477439287241829 567
0.6486756778592035 568
0.7012587724104313 569
0.6118009490292702 570
0.6158201560662899 571
0.7745255583372068 572
0.6050155473739576 573
0.5158327912341869 574
0.6499316942386324 575
0.7454932344945926 576
0.7232339002382888 577
0.7409829398649109 578
0.6353717539507993 579
0.591629388617303 580
0.5449638814837561 581
0.635885999538133 582
0.6997465277917096 583
0.672723526173425 584
0.6122623233593016 585
0.6598521405296272 586
0.6474377943700057 587
0.6938905633942758 588
0.7072022972171821 589
0.670991569467605 590
0.7084818872955597 591
0.727655894108669 592
0.7377932338210254 593
0.6983264973058918 594
0.5483520316519774 595
0.7078336334173441 596
0.6973016852564471 597
0.661159415840627 598
0.6436744965425574 599
0.6559374469717905 600
0.5679914592997697 601
0.7327559062724098 602
0.6572836204122152 603
0.6865110738997136 604
0.6693586334868353 605
0.6122536186120752 606
0.5363729753632777 607
0.7839062018944691 608
0.7411010558440386 609
0.6055225347663964 610
0.693558564286772 611
0.6621063397317932 612
0.7205352116067332 613
0.6896896728009688 614
0.5689912410280388 615
0.4820198162332884 616
0.7507640453403976 617
0.6399387698155783 618
0.6909977800274025 619
0.709336802799983 620
0.6530771084619564 621
0.6203728885263693 622
0.6091576307456859 623
0.6536738180440639 624
0.6782619560445142 625
0.5570206051043971 626
0.7361288256560705 627
0.6503917282866203 628
0.5956049013145128 629
0.6145324932321206 630
0.6954459270120217 631
0.6829553217151125 632
0.6157601020112139 633
0.5971946262725721 634
0.6487935339023222 635
0.6835681276083702 636
0.6432273610167354 637
0.6866198439724979 638
0.5997747445690527 639
0.5696973580707658 640
0.610805607157283 641
0.5746167749921924 642
0.5445825973345078 643
0.5074553485527364 644
0.6398633382968533 645
0.7054028671770196 646
0.67000598573739 647
0.6456605209590798 648
0.725802464877096 649
0.6896322262084543 650
0.6522430249397018 651
0.6849630595642374 652
0.6212716541014167 653
0.6980349075078034 654
0.652595939958251 655
0.6470238332234983 656
0.5650670700107367 657
0.6546532835373349 658
0.7138306326331458 659
0.6847642591174734 660
0.7835820881481002 661
0.6765644428168132 662
0.5904473056393504 663
0.5239908565834552 664
0.666619980641894 665
0.7125088586951638 666
0.6603408814883525 667
0.6729106439725425 668
0.5501335509811418 669
0.665100478162517 670
0.6474375172731858 671
0.7109508321814237 672
0.7865490138927073 673
0.7267423894616092 674
0.6297470350150844 675
0.64582670419267 676
0.6273848312969303 677
0.7538454451742326 678
0.607305916485926 679
0.6522248299124846 680
0.6532058225229762 681
0.6950174392458083 682
0.6515108421816524 683
0.6590018903309613 684
0.7627707869669329 685
0.810597445293702 686
0.5618030834806635 687
0.6179892434274068 688
0.7546885742092267 689
0.6273036380001775 690
0.6542275998573579 691
0.602704974195407 692
0.6242910220539105 693
0.7116159543074387 694
0.7143257048046856 695
0.7528841293185108 696
0.6903272505434013 697
0.7362308685793066 698
0.5969092915395857 699
0.5954161210597959 700
0.6902580635723887 701
0.6242512276655023 702
0.5183127744599774 703
0.7437894645414587 704
0.7130563835499424 705
0.6848162321670586 706
0.6990504686559634 707
0.6265343206878686 708
0.5174970420308371 709
0.6763266978117166 710
0.6110249190236146 711
0.6874021451078953 712
0.7891698442779984 713
0.6577179850252857 714
0.6464993892956861 715
0.6512554922763987 716
0.7313930066179365 717
0.6391982435389673 718
0.7037709197946411 719
0.6260463485584749 720
0.6657729858811305 721
0.6921998135956497 722
0.7412542029356999 723
0.6985104998965457 724
0.577194417872523 725
0.7561640120622075 726
0.6240089593819316 727
0.7226030042806697 728
0.5981339205545871 729
0.7184215522216519 730
0.5823826974744992 731
0.7694049966108203 732
0.6707832625855428 733
0.6582285966780419 734
0.5894471778915927 735
0.6702053241752277 736
0.6537142103829183 737
0.6190751765186333 738
0.6676609751303668 739
0.6405944418197058 740

0.6972982810813604 741
0.7359470418286851 742
0.7010165694724424 743
0.6033078888047188 744
0.6746837466589187 745
0.7521150381705549 746
0.5992141121003511 747
0.6641792313766266 748
0.539755180544639 749
0.5996279875851267 750
0.6536563190155493 751
0.6507560598024646 752
0.5584591053753312 753
0.6032096905761271 754
0.5212345941162646 755
0.6335038688461012 756
0.6993149874207105 757
0.6744784618885107 758
0.6717879493359034 759
0.6972910802166675 760
0.7702996939494043 761
0.7238133935533253 762
0.6891735663468126 763
0.5672673385467939 764
0.7358627325127641 765
0.7093241206168068 766
0.5422691084910376 767
0.594410851009437 768
0.6612814518349808 769
0.5489724153226929 770
0.6605684570267742 771
0.6765092719084824 772
0.7691441815485377 773
0.6591442382373109 774
0.6951364073909836 775
0.5957411558742424 776
0.5517539490904414 777
0.6445273609933978 778
0.6830810022742928 779
0.7158976832578341 780
0.7371502707767357 781
0.655337004590885 782
0.7541223855498118 783
0.6130123457671133 784
0.6316810229783489 785
0.6318162993303011 786
0.658163606021512 787
0.5873823561131588 788
0.4070843426827837 789
0.7631944908395429 790
0.7560028258223899 791
0.704103615244199 792
0.7493104559884167 793
0.7405735246534149 794
0.6173250805032995 795
0.7260534677508481 796
0.6069721109701935 797
0.7016199300746839 798
0.6650239896951391 799
0.6361728172569219 800
0.5599153364937237 801
0.6287813506002978 802
0.6513909589002133 803
0.7030440901120913 804
0.5759244594160559 805
0.5889908444579138 806
0.6747963444400358 807
0.6138928771037133 808
0.64028997344968 809
0.7306358713017858 810
0.6442284790967638 811
0.7245677339769948 812
0.6018749872125411 813
0.7545714898797973 814
0.662591987578077 815
0.5328072278426126 816
0.7746052080175017 817
0.5787485338726099 818
0.7074041904265999 819
0.6375231100959324 820
0.6563609809650003 821
0.7570319724425865 822
0.59655006909097 823
0.5902161417630154 824
0.7463395457299424 825
0.6614033926188408 826
0.6677869216489649 827
0.6868504965384319 828
0.5907820902593486 829
0.6296741090058471 830
0.5757365517906697 831
0.6633835270467893 832
0.6649827549215657 833
0.624336315039294 834
0.7039264245230015 835
0.6587857502610555 836
0.6132753727457598 837
0.6977869467050748 838
0.6301149641458014 839
0.7002186344337747 840
0.772763123112254 841
0.750893974681854 842
0.6514077515728123 843
0.6335042014533934 844
0.5901824830820324 845
0.6618115204976684 846
0.7308434267961951 847
0.6089251492699057 848
0.757678911576287 849
0.6601952283411161 850
0.6238114315597818 851
0.6280102929473392 852
0.6696600100055914 853
0.6618633489569491 854
0.6983051268949578 855
0.6021703341306603 856
0.5623136110719258 857
0.7833220997459063 858
0.5986180688990779 859
0.6867969034615038 860
0.6974570842107053 861
0.6247777267150981 862
0.5882761289664554 863
0.6579643905155566 864
0.5921424142780249 865
0.6956222665015206 866
0.6075832980862339 867
0.5342969663169574 868
0.5681845599357377 869
0.65999556946407 870
0.6538524684700029 871
0.5244375714273042 872
0.6195732621108059 873
0.618547077566807 874
0.6014389008144353 875
0.6503838711517732 876
0.7382341956703617 877
0.6417773322792568 878
0.7837667703984749 879
0.7652847155883191 880
0.6095288445429101 881
0.6827746046306602 882
0.6033340549217954 883
0.699658108560531 884
0.6771660733907481 885
0.5806869895992639 886
0.6109237139701127 887
0.6175695321584869 888
0.6918980389037609 889
0.7615529857484524 890
0.754349051135522 891
0.7401094929555709 892
0.7558900321256566 893
0.5671583793643094 894
0.49146889633878477 895
0.6923681837342307 896
0.6861964007359702 897
0.5997742279334204 898
0.6650189381658206 899
0.6943753776653208 900
0.6466760069395132 901
0.6534224757306659 902
0.7471315181061913 903
0.6944235370211453 904
0.694273675438165 905
0.6831220788289034 906
0.5795262510364275 907
0.7019879566460676 908
0.7088915453262905 909
0.7049213740577558 910
0.7962414195622598 911
0.667810132314909 912
0.6358995643025843 913
0.6523679758039747 914
0.7058290427963005 915
0.6022695794469389 916
0.5880646109875614 917
0.6991447891995091 918
0.6671889073062067 919
0.6659634404380115 920
0.7096944855567086 921
0.6830466401947182 922
0.6373927272198106 923
0.684573441155025 924
0.6540525269409588 925
0.6986428861191866 926
0.6726726006848445 927
0.7375487397061475 928
0.727631134487856 929
0.6456923054441914 930
0.616918233695467 931
0.5888226256537492 932
0.6383111428576596 933
0.7121011237564365 934
0.7269743940828264 935
0.7384390582702824 936
0.6370184235072538 937
0.6826752765588945 938
0.6579117977705227 939
0.6942552866422409 940
0.7538295023128827 941
0.6752142576059479 942
0.6820008653713769 943
0.7323521002708548 944
0.725281585948689 945
0.6591092937513376 946
0.5530250033139306 947
0.6304235018609491 948
0.6026622313887656 949
0.5046246400921721 950
0.4858710683098144 951
0.6884654943176902 952
0.6326636097373999 953
0.7202058269621998 954
0.6819335220469788 955
0.5969025502416465 956
0.6535875050388161 957
0.7561441938290023 958
0.7044204219950674 959
0.557326873868385 960
0.6722073116702821 961
0.6577035201035974 962
0.6046950600879671 963
0.5884557861163076 964
0.6041193936522428 965
0.6787539351394334 966
0.7043419866375659 967
0.6849083286268638 968
0.7919356836881728 969
0.6051034361725596 970
0.5914326443696806 971
0.6736852082574146 972
0.5451292128858028 973
0.5834177290588309 974
0.6627666592623049 975
0.6102465704380101 976
0.6132398042881164 977
0.6003761012259445 978
0.5699840220760044 979
0.5785428556342431 980
0.7140166668808445 981
0.6951067603634771 982
0.7092220877974134 983
0.5799263544446214 984
0.7492667403680368 985
0.7452071118987325 986
0.708787654986913 987
0.6698408760977632 988
0.7791190468085216 989
0.5888249216608584 990
0.7004294573998768 991
0.6971505983315925 992
0.607609853324548 993
0.6656348443916791 994
0.7455484500746202 995
0.7168457387492808 996
0.616024697153366 997
0.5598103941365886 998
0.6634956879772473 999

In [152]:
np.argmax(scores)  #returns indices of the max element of the array in a particular axis

419

In [157]:
scores[np.argmax(scores)]  #to print particular value score[index]

0.8219444894759023

In [158]:
#with random state
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.4, random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)

In [159]:
r2_score(y_test,y_pred)

0.8219444894759023

In [ ]:
#Pandas DataFrame is a structure that contains two-dimensional data and its corresponding labels.
#if user sends complete data(a row) of a car then we can predict the money as
#data should be written in 1 list separately

In [212]:
pp=pipe.predict(pd.DataFrame([['Hyundai Santro Xing','Hyundai',2007,45000,'Petrol']], columns=['name','company','year','kms_driven','fuel_type']))
print("The price is Rs",int(pp))

The price is Rs 114368